<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons>
      <ion-back-button slot="primary" text="Volver" defaultHref="/"></ion-back-button>
      <ion-title>Registro</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registroForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-input
        label="Nombre"
        labelPlacement="floating"
        type="text"
        formControlName="nombre"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Número Casa"
        labelPlacement="floating"
        type="text"
        formControlName="numeroCasa"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Correo Electrónico"
        labelPlacement="floating"
        type="email"
        formControlName="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Nombre de Usuario"
        labelPlacement="floating"
        type="text"
        formControlName="username"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Confirmar Contraseña"
        labelPlacement="floating"
        type="password"
        formControlName="confirmPassword"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" type="submit" [disabled]="registroForm.invalid">
      Registrar
    </ion-button>
  </form>

  <!-- Alerta -->
  <ion-alert
    [isOpen]="isAlertOpen"
    [header]="alertMessage"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>
