<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons >
        <ion-back-button slot="primary" text="Volver" defaultHref="/"></ion-back-button> 
        <ion-title>Registro</ion-title>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" placeholder="Enter text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Numero Casa/Depto" type="number" placeholder="000"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Crear Contraseña" type="password" value="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirmar Contraseña" type="password" value="password"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>
     <!-- Botones Volver y Enviar -->
     <ion-button (click)="setOpen(true)">Registrar</ion-button>
     <ion-alert
       [isOpen]="isAlertOpen"
       header="Registrado Correctamente"
       message="Ahora puede ingresar"
       [buttons]="alertButtons"
       (didDismiss)="setOpen(false)"
     ></ion-alert>
</ion-content>
