<ion-header>
  <ion-toolbar>
    <ion-title>Comprobante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list class="form-container">
      <!-- Mostrar Nombre y Número de Casa -->
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" [value]="nombre" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número de Casa</ion-label>
        <ion-input type="number" [value]="numeroCasa" disabled></ion-input>
      </ion-item>

      <!-- Métodos de Pago -->
      <ion-item>
        <ion-label position="stacked">Método de Pago</ion-label>
        <ion-select [(ngModel)]="comprobante.metodoPago" placeholder="Seleccione un método">
          <ion-select-option value="transferencia">Transferencia</ion-select-option>
          <ion-select-option value="deposito">Depósito</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Comentarios -->
      <ion-item>
        <ion-label position="stacked">Comentarios</ion-label>
        <ion-textarea [(ngModel)]="comprobante.comentario" placeholder="Ingrese sus comentarios"></ion-textarea>
      </ion-item>
    </ion-list>

    <!-- Error al enviar -->
    <div *ngIf="showAlert" class="alert-message">
      <p style="color: red;">Error: El método de pago o los comentarios están incompletos. Intente de nuevo.</p>
    </div>

    <!-- Botones Volver y Enviar -->
    <div class="button-group">
      <ion-button routerLink="/vista-arrendatario" shape="round">Volver al inicio</ion-button>     
      <ion-button (click)="validateAndSubmit()" shape="round">Enviar</ion-button>

      <ion-alert
        [isOpen]="isAlertOpen"
        header="Comprobante enviado correctamente"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
      ></ion-alert>
    </div>
  </div>
</ion-content>
