<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Administrador</h2>
    <div class="button-group">
      <ion-button expand="block" class="custom-button" routerLink="/bandeja-admin">Bandeja de entrada</ion-button>
      <ion-button expand="block" class="custom-button" routerLink="/not-admin">Notificaciones</ion-button> 
      <ion-button expand="block" fill="clear" shape="round"routerLink="/home"> Cerrar sesion</ion-button>  
     </div>
  </div>
</ion-content>
