ion-card {
  margin: 10px;
}

.icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button {
  margin-top: 10px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
