<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Hola.. (nombre us)</h2>
    <div class="button-group">
      <ion-button expand="block" class="custom-button" routerLink="/consultar" routerLink="/consultas-arrendatario">Consultar</ion-button>
      <ion-button expand="block" class="custom-button" routerLink="/enviar-comprobante" routerLink="/comprobante">Enviar comprobante</ion-button>
      <ion-button expand="block" class="custom-button" routerLink="/notificaciones">Notificaciones</ion-button>
    </div>
  </div>
</ion-content>
